.toggle-container {
  display: flex;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  margin-top: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 2.1rem;
  height: 1.1rem;
  /* background-color: $second; */
  border-radius: 10px;
  position: relative;
  transition: background-color 0.1s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 45px;
  border-width: 0.2rem;
  border-style: double;
  /* border-color: $error; */
  transition: 0.1s;
  /* background: $prim; */
  cursor: pointer;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}
