.container{
  background-color: white;
}
.product{
  padding: 24px;
  font-size: 24px;
}

.product__Rows{
  display: flex;
}

.product__ColImg,
.product__Col{
  flex: 1
}

.product__ColImg{
  max-width: 150px;
  margin-right: 25px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}