.gridFilter {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    padding: 1rem;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    /* grid-gap: 5px; */
    /* border: 2px solid; */
    grid-auto-rows: minmax(60px, auto);
 }
 .gridItem {
    padding: 11px;
    display: flex;
    justify-content: center; 
    align-items: center;
 }

.lab {
    font-size: 16px;
    position: absolute; 
    word-break: break-all;
top: 3.2rem;
}

.moni {
    position: absolute;
top: 7.2rem;
}

.container {
    position: relative;
}

.init {
    position: absolute;
    top: 0; left: 0;
}
.hover {opacity: 0;
    position: absolute;
    top: 0; left: 0;
}

.done {opacity: 0;
    position: absolute;
    top: 0; left: 0;
}

input[id^='ckb'] + label .init {
   opacity: 1;
   position: absolute;
}

input[id^='ckb']:hover + label .hover {
    opacity: 1;
    display: inline;
    }

    input[id^='ckb']:checked + label .done {
   opacity: 1;
    display: inline;
    }
