.gridFilter {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1.5fr);
    grid-gap: 0;
    grid-auto-rows: minmax(90px, auto);
 }


.lab {
    position: absolute;
top: 3.2rem;
}

.container {
    position: relative;
}


.init {
    position: absolute;
    top: 0; left: 0;
}
.hover {opacity: 0;
    position: absolute;
    top: 0; left: 0;
}

.done {opacity: 0;
    position: absolute;
    top: 0; left: 0;
}

input[id^='ckb'] + label .init {
   opacity: 1;
   position: absolute;
}

input[id^='ckb']:hover + label .hover {
    opacity: 1;
    display: inline;
    }

    input[id^='ckb']:checked + label .done {
   opacity: 1;
    display: inline;
    }
