.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.cnt {
    /* display: flex;
    flex-direction: row; */
    padding: 30px;
    margin: 30px;
}

.label {
    position: absolute;
}
.icons {
    position: absolute;
}
/*  */
.hovericon, .clickicon, .doneicon {
    display: none;
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
}

.icons:hover .hovericon {
    display: inline;
}

 .clickicon, .doneicon {
    display: none;
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
}

.icons:active .clickicon {
    display: inline;
} 
/*  */
  .iconcheckbox {
    height: 160;
    width: 160;
    position: absolute;
    /* visibility: hidden; */
  }
  
  .iconcheckbox:checked .doneicon{
    display: inline;
  }
  