input[type=checkbox].ckb {
    display:none;
    }
     
    label.ckb {float: left; clear: left; width: 200px; }
    
    input[type=checkbox].ckb + label:after
    {
    content: 'N';
    background: #F00;
    float: right;
    
    }
    input[type=checkbox].ckb:hover + label:after
    {
    content: 'N';
    background: blue;
    float: right;
    
    }
    input[type=checkbox].ckb:checked + label:after
    {
    content: 'Y';
    background: #FF0;
    
    }